body{	
		background-color: white; 
		width: 964.8px;
		
}

.direction{position: absolute;
	padding-top: 250px;
	padding-left: 50px;


}
.coverphoto{position: absolute;
		height: 180px;
		width: 100%;
		background-color: black;
}

.link{ position: absolute;
		height: 59px;
		width:84px;
		top: 30%;
		}








