body{	
		background-color: white; 
		width: 964.8px;
		
}

.coverphoto{position: absolute;
		height: 180px;
		width: 100%;
		background-color: black;
}

.photo{ position: absolute;
		background-color: black;
		height: 350px;
		width: 100%;
		top: 150%;
		
}


.link{ position: absolute;
		height: 59px;
		width:84px;
		top: 30%;
		}








